<!-- Hero Section Component -->
<section class="hero" id="hero">
  <div class="slideshow">
    <img src="https://user-gen-media-assets.s3.amazonaws.com/seedream_images/74b4f8a5-5b2a-4b28-85d0-4c9c59fff018.png" alt="Театрализованное представление">
    <img src="https://user-gen-media-assets.s3.amazonaws.com/seedream_images/1deb3b48-b007-4deb-a09d-f497a109b945.png" alt="Городской фестиваль">
    <img src="https://user-gen-media-assets.s3.amazonaws.com/seedream_images/14b95e34-6ca9-4252-a290-f85823fa2f3a.png" alt="Бизнес-конференция">
    <img src="https://user-gen-media-assets.s3.amazonaws.com/seedream_images/c03cee3b-af43-43c9-8aba-5a22b4759c7a.png" alt="Семейное торжество">
  </div>
  <div class="hero__overlay"></div>
  <div class="container hero__content">
    <h1 class="hero__title">Событие как искусство</h1>
    <p class="hero__subtitle">
      Следуем слогану, сохраняем традиции, вносим инновации, подчеркиваем основную мысль, 
      добавляем творчество и получаем готовый продукт с положительным фидбэком.
    </p>
    <div class="hero__cta">
      <a href="#contacts" class="btn btn--primary">Создать событие</a>
      <a href="#services" class="btn btn--ghost">Наши направления</a>
    </div>
  </div>
</section>
