<!-- Services Section Component -->
<section class="section" id="services">
  <div class="container">
    <header class="section__head">
      <h2 class="h2" data-animate>Наши направления</h2>
      <p class="section__lead" data-animate>Полный спектр event-услуг от концепции до реализации</p>
    </header>
    
    <div class="services">
      <article class="card" data-animate>
        <h3 class="h4">Событие как искусство</h3>
        <img src="https://user-gen-media-assets.s3.amazonaws.com/seedream_images/74b4f8a5-5b2a-4b28-85d0-4c9c59fff018.png" alt="Театрализованное представление" class="card__image">
        <p>Концертно-развлекательные программы, театрализованные вечеринки, личные и семейные праздники.</p>
      </article>

      <article class="card" data-animate>
        <h3 class="h4">Тимбилдинги</h3>
        <img src="https://user-gen-media-assets.s3.amazonaws.com/seedream_images/961f3e94-339a-4290-b267-9a4a71958380.png" alt="Командная работа" class="card__image">
        <p>Командные игры, творческие биеннале, спортивные активности, тренинги, социально-ориентированные мероприятия.</p>
      </article>

      <article class="card" data-animate>
        <h3 class="h4">Атмосфера города</h3>
        <img src="https://user-gen-media-assets.s3.amazonaws.com/seedream_images/1deb3b48-b007-4deb-a09d-f497a109b945.png" alt="Городской фестиваль" class="card__image">
        <p>Партнерские программы с городскими муниципалитетами, НКО, креативными пространствами в ритме Санкт-Петербурга.</p>
      </article>

      <article class="card" data-animate>
        <h3 class="h4">Бизнес-события</h3>
        <img src="https://user-gen-media-assets.s3.amazonaws.com/seedream_images/14b95e34-6ca9-4252-a290-f85823fa2f3a.png" alt="Бизнес-конференция" class="card__image">
        <p>Презентации, семинары, бизнес-игры, выставки. Рассеиваем мифы о протокольности, создаем креативное пространство.</p>
      </article>

      <article class="card" data-animate>
        <h3 class="h4">Лучшее детям</h3>
        <img src="https://user-gen-media-assets.s3.amazonaws.com/seedream_images/06cc1617-d18e-428f-9e85-3d53a51ab62d.png" alt="Детское шоу" class="card__image">
        <p>Развлекательные программы, квесты, театральные постановки, киносъемка «Стоп! Снято!», новогодние спектакли.</p>
      </article>

      <article class="card" data-animate>
        <h3 class="h4">Интеллектуальные активности</h3>
        <img src="https://user-gen-media-assets.s3.amazonaws.com/seedream_images/c03cee3b-af43-43c9-8aba-5a22b4759c7a.png" alt="Семейное торжество" class="card__image">
        <p>Интеллектуальные баттлы, экскурсионные квесты, тематические квизы с адаптированным сюжетом.</p>
      </article>
    </div>
  </div>
</section>
